div,
p {
    color: white;
}

div{
    background-color: red;
    font-size: 35px;
    text-align: center;
    font-weight:bold;
}

/* p {
    background-color: green;
    font-size: 18px;
}
button {
    background-color: yellow;
    font-size: 20px;
} */